* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

img {
    max-height: 90vh;
    max-width: 100vw;
}

#quizInputWrapper {
    position: absolute;
    top: 0;
    left: 0;
}

#quizNameInput, #quizBottomPart {
    margin-top: 1rem;
}

input[type="radio"] {
    transform: scale(1.5);
}

#quizMessage {
    color: red;
    float: right;
    margin-left: 2rem;
}

small, small > a {
    color: #454545;
}

small {
    position: fixed;
    bottom: 0;
}
