@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600;700;800;900 & display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    overflow: hidden;
}

img {
    max-height: 90vh;
    max-width: 100vw;
}

#quizInputWrapper {
    position: absolute;
    top: 0;
    left: 0;
}

#quizNameInput, #quizBottomPart {
    margin-top: 1rem;
}

input[type="radio"] {
    transform: scale(1.5);
    opacity: 0.75;
}

input[type="radio"]:checked {
    opacity: 1;
}

#quizMessage {
    color: red;
    float: right;
    margin-left: 2rem;
}

#quizQuestionCount {
    font-weight: normal;
}

small, small > a {
    color: #454545;
}

small {
    position: fixed;
    bottom: 0;
}
